{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}CART - SHOPPY {% endblock title %}

{% block container %}
    <h1>{% trans "Your shopping cart"%}</h1>
    <table class="table">
        <thead>
        <tr style="background-color: #1fa3ee; color: #ffffff"><th>{% trans "Image" %}</th><th>{% trans "Product" %}Product</th><th>{% trans "Quantity" %}</th>
            <th>{% trans "Unit Price" %}</th><th>{% trans "Price" %}</th><th>{% trans "Remove" %}</th></tr>
        </thead>

        <tbody>
        {% for item in cart %}
            {% with product=item.products %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                                    height="50" width="50">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url 'cart:add' product.id %}" method="post">
                            {% csrf_token %}
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="{% trans "update" %}" class="btn btn-primary">
                        </form>
                    </td>
                    <td>{{ item.price }} Rwf</td>
                    <td>{{ item.total_price }} Rwf</td>
                    <td><a href="{% url 'cart:remove' product.id %}">{% trans "Remove" %}</a></td>
                </tr>
            {% endwith %}
        {% endfor %}

        {% if cart.coupon %}
            <tr class="submit-row">
                <td>Subtotal</td>
                <td colspan="4"></td>
                <td>{{ cart.get_total_price }} Rwf</td>
            </tr>
            <tr style="color: #762200">
                <td>"{{ cart.coupon.code }}" coupon ({{ cart.coupon.discount }}% Off)</td>
                <td colspan="4"></td>
                <td>-{{ cart.get_discount|floatformat:"2" }} Rwf</td>
            </tr>
        {% endif %}
        <tr style="background-color: #1fa3ee; color: #ffffff">
            <td>{% trans "Total" %}</td>
            <td colspan="4"></td>
            <td>{{ cart.get_total_price_after_discount|floatformat:"2" }} Rwf</td>
        </tr>
        </tbody>
    </table>
    <p >Apply Coupon:</p>
    <form action="{% url "coupons:apply" %}" method="post">
        {% csrf_token %}
        {{ coupon_form }}
        <input type="submit" value="{% trans "Apply" %}">
    </form>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="btn btn-default">{% trans "Continue shopping" %}</a>
        <a href="{% url 'orders:create_order' %}" class="btn btn-primary">{% trans "Checkout" %}</a>
    </p>
{% endblock container %}