{% extends 'shop/base.html' %}
{% load i18n %}
{% block title %}{% trans "Order - Caltbay" %}{% endblock title %}

{% block container %}
    <h1>{% trans "Checkout" %}</h1>
    <!-- billing information-->
    <div class="col-md-8">
        <form action="." method="post" class="form-control">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Place Order" class="btn btn-primary">
        </form>
    </div>
    <!-- order information -->
    <div class="col-md-4" style="background-color: rgba(116, 123, 124, 0.39)">
    <h3>{% trans "Your order" %}</h3>
        <ul>
            {% for item in cart %}
                <li>{{ item.quantity }}X {{ item.product.name }}
                    <span>{{ item.total_price }} Rwf</span></li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    {% blocktrans with code=cart.cupon.code discount=cart.coupon.discount  %}
                        "{{ code }}"({{ discount }}% off)
                    {% endblocktrans %}
                    <span>- {{ cart.get_discount|floatformat:"2" }} Rwf</span>
                </li>
            {% endif %}
        </ul>
        <p>{% trans "Total" %}: {{ cart.get_total_price_after_discount|floatformat:"2" }} Rwf</p>
    </div>
{% endblock container %}